@page "/about"
@rendermode InteractiveServer



<div class="AboutContainer">
    
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; text-align: center;" class="centered-container">

        <PageTitle>About us</PageTitle>
        <h1>At Travelso, we believe that every journey is unique and every traveler's story is worth sharing. That's why we've created a platform where you can share your travel experiences without the pressure of being a travel influencer or conforming to a certain style.</h1>
        <p>
            Share your adventures through blog posts where you can dive deep into the details of your experiences, whether it's exploring a hidden gem in your own city or venturing to far-flung destinations across the globe.
            What sets us apart is the emphasis on authenticity. We're not about glamorous photoshoots or curated feeds. Instead, we celebrate the raw, unfiltered moments that make travel so special. From heartwarming encounters with locals to unexpected discoveries off the beaten path, every story shared on Travelso adds to the tapestry of human experience.
        </p>

    </div>

    

</div>







@code {

}
