body {
}

.BlogpostContainer {
    background: linear-gradient(135deg, #535353 0%, #827055 100%);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    margin-top: -250px;
    height: 1000px;
}

.postManager {
    margin-top: 260px;
    color: white;
    background-color: #737373;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 100%;
}

.list-group-item:hover {
    cursor: pointer;
    filter: brightness(0.7);
}
