@page "/BlogPosts"
@using Travelso_Website_Shared.Entities




<div class="BlogpostContainer">
    
    <div class="containerFilterCard">
        <div class="filter">
            
            <h3>Filter posts</h3>
            
            <hr/>
            <select>
                <option value="">Country</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <select>
                <option value="">Sort</option>
                <option value="option1">Newest to oldest</option>
                <option value="option2">Most popular</option>
            </select>
            

            <button style="margin: 20px" type="button" class="btn btn-info">Search</button>
            <button type="button" class="btn btn-info">Surprise me</button>
        </div>
        

        <div class="cards-container">
            <div class="row">
                @foreach (var post in allPosts)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="@post.ImageUrl" class="card-img-top" alt="Blog Post Image" />
                            <div class="card-body">
                                <h5 class="card-title">@post.Title</h5>
                                <p class="card-text">Published on: @post.PublishedDate.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>

    

</div>





</div>

@code {

    public List<BlogPost> allPosts = new()
    {
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Exploring Lisbon's Iconic Trams",
        //     ImageUrl = "https://www.knorr-bremse.com/media/5000_magazin/2020/juni_1/strassenbahn_lissabon/variante_16x9_1920w.jpg",
        //     HtmlContent = @"
        //     <p>Lisbon's trams are an iconic feature of the city, weaving their way through narrow streets and steep hills.</p>
        //     <img src='https://www.lisbon.net/f/portugal/lisboa/guia/tranvia.jpg' alt='Lisbon Tram' />
        //     <p>They are not only a practical mode of transportation but also a nostalgic journey back in time.</p>
        //     <p>From the vintage yellow trams to the modern red ones, each ride offers a unique experience of Lisbon's charm and history.</p>"
        // },
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Discovering Porto's Riverside",
        //     ImageUrl = "https://i.natgeofe.com/n/a418b667-c00b-417d-9ee5-32dfec838a8f/coverstory_portugal_GettyImages-533960357_HR.jpg",
        //     HtmlContent = @"
        //     <p>Porto's riverside is a picturesque area filled with historic buildings, charming cafes, and stunning views of the Douro River.</p>
        //     <img src='https://www.visitportugal.com/sites/default/files/styles/encontre_experiencias_visitportugal_1_2/public/mediateca/Ribeira_Porto_AndreCarvalho.jpg' alt='Porto Riverside' />
        //     <p>Take a leisurely stroll along the cobblestone streets, explore the colorful Ribeira district, and admire the iconic Dom Luís I Bridge.</p>"
        // },
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Exploring Lisbon's Iconic Trams",
        //     ImageUrl = "https://www.knorr-bremse.com/media/5000_magazin/2020/juni_1/strassenbahn_lissabon/variante_16x9_1920w.jpg",
        //     HtmlContent = @"
        //     <p>Lisbon's trams are an iconic feature of the city, weaving their way through narrow streets and steep hills.</p>
        //     <img src='https://www.lisbon.net/f/portugal/lisboa/guia/tranvia.jpg' alt='Lisbon Tram' />
        //     <p>They are not only a practical mode of transportation but also a nostalgic journey back in time.</p>
        //     <p>From the vintage yellow trams to the modern red ones, each ride offers a unique experience of Lisbon's charm and history.</p>"
        // },
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Discovering Porto's Riverside",
        //     ImageUrl = "https://i.natgeofe.com/n/a418b667-c00b-417d-9ee5-32dfec838a8f/coverstory_portugal_GettyImages-533960357_HR.jpg",
        //     HtmlContent = @"
        //     <p>Porto's riverside is a picturesque area filled with historic buildings, charming cafes, and stunning views of the Douro River.</p>
        //     <img src='https://www.visitportugal.com/sites/default/files/styles/encontre_experiencias_visitportugal_1_2/public/mediateca/Ribeira_Porto_AndreCarvalho.jpg' alt='Porto Riverside' />
        //     <p>Take a leisurely stroll along the cobblestone streets, explore the colorful Ribeira district, and admire the iconic Dom Luís I Bridge.</p>"
        // },
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Exploring Lisbon's Iconic Trams",
        //     ImageUrl = "https://www.knorr-bremse.com/media/5000_magazin/2020/juni_1/strassenbahn_lissabon/variante_16x9_1920w.jpg",
        //     HtmlContent = @"
        //     <p>Lisbon's trams are an iconic feature of the city, weaving their way through narrow streets and steep hills.</p>
        //     <img src='https://www.lisbon.net/f/portugal/lisboa/guia/tranvia.jpg' alt='Lisbon Tram' />
        //     <p>They are not only a practical mode of transportation but also a nostalgic journey back in time.</p>
        //     <p>From the vintage yellow trams to the modern red ones, each ride offers a unique experience of Lisbon's charm and history.</p>"
        // },
        // new BlogPost
        // {
        //     UserId = 1,
        //     Title = "Discovering Porto's Riverside",
        //     ImageUrl = "https://i.natgeofe.com/n/a418b667-c00b-417d-9ee5-32dfec838a8f/coverstory_portugal_GettyImages-533960357_HR.jpg",
        //     HtmlContent = @"
        //     <p>Porto's riverside is a picturesque area filled with historic buildings, charming cafes, and stunning views of the Douro River.</p>
        //     <img src='https://www.visitportugal.com/sites/default/files/styles/encontre_experiencias_visitportugal_1_2/public/mediateca/Ribeira_Porto_AndreCarvalho.jpg' alt='Porto Riverside' />
        //     <p>Take a leisurely stroll along the cobblestone streets, explore the colorful Ribeira district, and admire the iconic Dom Luís I Bridge.</p>"
        // }
    };

}

