@page "/BlogPosts"
@inject DestinationService DestinationService
@inject BlogPostService BlogPostService
@rendermode InteractiveServer
@using Travelso_Website_Shared.Entities
@using Travelso_TravelWebsite.Services




<div class="BlogpostContainer">
    
    <div class="containerFilterCard">
        <div class="filter">
            
            <h3>Filter posts</h3>
            
            <hr/>
            <select>
                <option value="">Country</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <select>
                <option value="">Sort</option>
                <option value="option1">Newest to oldest</option>
                <option value="option2">Most popular</option>
            </select>
            

            <button style="margin: 20px" type="button" class="btn btn-info">Search</button>
            <button type="button" class="btn btn-info">Surprise me</button>
        </div>
        

        <div class="cards-container">
            <div class="row">

                <Virtualize Items="allPosts">

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="@context.ImageUrl" class="card-img-top" alt="Blog Post Image"/>
                            <div class="card-body">
                                <h5 class="card-title">@context.Title</h5>
                                <p class="card-text">Published on: @context.PublishedDate.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>
                
                </Virtualize>
                
            </div>
    </div>

    

</div>





</div>

@code {

    public List<BlogPost> allPosts = new();

    protected override async void OnInitialized()
    {
        allPosts.AddRange(await BlogPostService.GetAll());
        StateHasChanged();
    }

}

