@page "/"

<div class="PageContainer">

    <div class="HomePageImageContainer">
        <img src="NewFolder/felix-rostig-UmV2wr-Vbq8-unsplash.jpg" />
        <div class="overlay-text">
            <h2 class="h2Welcome">Connect with other travelers, share and tell your stories</h2>
            <p class="pText">Connect, converse, and explore with fellow travelers. Document your adventures, share tips, and discover new horizons together!</p>
            <button type="button" class="btn btn-info">Discover more</button>
        </div>
    </div>

    <div class="HomePageInformationContainer">
        
        <h2 class="h2InfoWorldMap"> Create your account and start pinning your adventures on a personalized world map. Keep track of every country you've visited, reminisce about your travels, and share your experiences with fellow explorers.</h2>
        <img class="imgInfoWolrdMap" src="NewFolder/WorldMap-removebg-preview.png"/>
    </div>
    
    <div class="HomePageBlogPostContainer">
        <div class="ImageWordlmapInfoContainer">
            <img class="ImageWordlmapInfo" src="NewFolder/rebe-adelaida-zunQwMy5B6M-unsplash.jpg" />
        </div>
        <div class="TextOverlay2">
            <h2>Whether you're a seasoned traveler or just starting your journey, everyone has a voice here. Become a blogger with ease by creating posts filled with captivating stories and stunning pictures of your adventures.</h2>
            <button type="button" class="btn btn-info">Begin your blogging journey</button>
        </div>
    </div>

</div>


@code
{

}
