@page "/Account/Manage/UserInformation"
@using Travelso_TravelWebsite.Services
@rendermode InteractiveServer
@inject UserService UserService

<h3>UserInformation</h3>
<AuthorizeView>
    <Authorized>

    </Authorized>
</AuthorizeView>


@code {
    
}