body {

}

.row2 {
    background-image: url('/NewFolder/rebe-adelaida-zunQwMy5B6M-unsplash.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    margin-top: -150px;
}

.logInDiv {
    background-color: white;
    padding: 20px;
    margin: 30px;
    margin-top: 200px;
    border-radius: 10px; 
}
